/* this is google font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&family=Roboto+Mono:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
/* :default css something here */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2.5rem;
}

.flex-babu {
  display: flex;
  justify-content: space-between;
}
/* header from here */
.header {
  display: flex;
  justify-content: space-between;
}

.header h3 {
  font-size: 24px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-right: 15px;
  font-weight: 400;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

.influger-intro {
  margin-top: 20px;
}

.influger-intro-details {
  padding: 2px 0px;
}

.influger-intro-details h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #5c5a5a;
}

.influger-intro-details p {
  max-width: 400px;
  margin-bottom: 8px;
}

.influger-intro-details button,
.btn-link {
  background-color: #303a3b;
  padding: 12px 50px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  margin-top: 5px;
}

.influger-intro-thim {
  background-image: url("./images/circle.jpg");
  background-size: cover;
}

.promotion {
  margin-top: 40px;
  border-top: 5px solid #e4e2e2;
  border-bottom: 5px solid #e4e2e2;
}
.promotion img {
  width: 90px;
  height: 45px;
}

.card-section {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  flex-wrap: nowrap;
}

.heading-of-card {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  grid-column-gap: 10px;
}

.card-section > div {
  padding: 10px;
  box-shadow: 0px 2px 10px black;
  margin-bottom: 40px;
}

.card-section > div img {
  width: 300px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.card-section > div div i {
  color: rgb(234, 140, 78);
}
.card-section > div > div > :nth-child(5) {
  color: rgb(139, 117, 117);
}

.card-section > div > h3 {
  margin: 10px 0px;
}

.last-box {
  grid-column-start: 1;
  grid-column-end: -1;
  bottom: 0;
}

.future-product {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.future-product > :first-child img {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  margin-right: 80px;
}

.future-product > :last-child {
  padding: 40px 4px;
}

.future-product > :last-child h1 {
  font-size: 30px;
}

.future-product > :last-child p {
  line-height: 27px;
  margin: 15px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
}

footer {
  background-color: rgb(41, 47, 80);
  color: white;
  margin-top: 30px;
  padding: 10px, 0;
}

.footer {
  display: grid;
  justify-items: center;
}
.footer p {
  font-size: 10px;
}

.footer h2 {
  font-size: 20px;
}
.footer div {
  margin-top: 20px;
}
.footer div a {
  color: white;
  margin: 42px 3px;
  border: 1px solid gainsboro;
  border-radius: 100%;
  padding: 4px 7px;
}
.shop {
  display: none;
}
.shop li {
  list-style: none;
}
@media (max-width: 700px) {
  .textss {
    text-align: center;
  }
  .header-contents {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
  .flex-babu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promotion,
  .future-product {
    justify-content: center;
  }
  .influger-intro-thim img {
    height: 100px;
    width: 100px;
  }
  .influger-intro-details h1 {
    font-size: 20px;
  }
  .influger-intro-details {
    text-align: center;
    margin-bottom: 20px;
  }
  .future-product {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .future-product div > img {
    margin: 0 auto;
    height: 60px;
    width: 60px;
  }
  .promotion div > img {
    margin-top: 20px;
  }

  .card-section {
    display: block;
  }
  .card-section div {
    text-align: center;
    border-radius: 20px;
  }
  .header nav {
    display: none;
  }
  .shop {
    display: block;
  }
}

/* @media (max-width: 1100px) {
  body {
    background-color: royalblue;
  }
} */
