/* this is google font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&family=Roboto+Mono:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
/* :default css something here */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2.5rem;
}

.flex-babu {
  display: flex;
  justify-content: space-between;
}
/* header from here */
.header {
  display: flex;
  justify-content: space-between;
}

.header h3 {
  font-size: 24px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-right: 15px;
  font-weight: 700;
}

header nav ul li a {
  text-decoration: none;
  color: black;
}

.influger-intro {
  margin-top: 20px;
}

.influger-intro-details {
  padding: 2px 0px;
}

.influger-intro-details h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #5c5a5a;
}

.influger-intro-details p {
  max-width: 400px;
  margin-bottom: 8px;
}

.influger-intro-details button {
  background-color: #303a3b;
  padding: 12px 50px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  margin-top: 5px;
}

.influger-intro-thim {
  background-image: url("./images/circle.jpg");
  background-size: cover;
}
